body {
    grid-template-rows:10vh 90vh;
}


#contact {
    display:none;

}

#socialsMobile {
    display: flex;
    justify-content: center;
    margin-top:6%;

}

.socialHref{
    height: 30px;
    margin-left: 20px;
}

.socialImage {
    height: 100%;
    width: 100%;
}
