body {
    Padding: 0px;
    margin: 0px;
    /*background-color: #4C7999;*/
    background-color: #F4ABC4;
    animation-duration: 10s;
    animation-name: bgColor2;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    display: grid;
    grid-template-rows: 20vh 80vh;
    grid-template-columns: 80vw 20vw;
    height: 100vh;
    width: 100vw;
}

#navBar {
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 0px;
    display: grid;
    grid-template-columns: 49vw 49vw;
}


#home {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#homeImage {
    margin-top: -12%;
}

#homeText {
    margin-top: 1%;
}

#contact {
    margin: 0px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    width: 100%;
    height: 100%;
    display: flex;
 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
}