@keyframes bgColor {
    from {
        background-color: #ebd153;
    }

    50% {
        background-color: #4C7999;
        display: none;
    }

    to {
        background-color: pink;

    }
}

@keyframes name {
    from {
        background-color: #ebd153;

    }

    a {
        background-color: #4C7999;
    }

    to {
        background-color: #F4ABC4;
    }
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    a {

        opacity: 0.5;
    }

    to {
        opacity: 0;
    }
}



* {
    margin: 0px;
    padding: 0px;
}



.circles {



    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    animation-direction:   alternate;
    bottom: -150px;


}

.circles li:nth-child(1) {
    left: 25%;
    width: 80px;
    opacity: 0;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: 20px;
    opacity: 0;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    opacity: 0;
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4) {
    left: 40%;
    opacity: 0;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5) {
    left: 65%;
    opacity: 0;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: 110px;
    opacity: 0;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7) {
    left: 35%;
    width: 150px;
    height: 150px;
    opacity: 0;
    animation-delay: 7s;
}

.circles li:nth-child(8) {
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
    opacity: 0;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
    opacity: 0;
}

.circles li:nth-child(10) {
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    opacity: 0;
}



@keyframes animate {

    0% {
        transform: translateY(0) rotate(0deg);
        opacity: 0.1;
        border-radius: 100%;
    }

    10% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 10%;
    }

}