/* Cards design*/
.AstroCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px; /* 5px rounded corners */
    background-color: #c38d9e;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 38%;
    Width: 95%;
  }

.SocialCard { 
    margin-top:5%;
    margin-right: auto;
    margin-left: 2%;
    padding-top: 0.5%;
    padding-bottom:3%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px; /* 5px rounded corners */
    background-color: #c0e4ce;
   
  }

.linkCards{
    display: inline-block;
    height: 13%;
    width: 13%; 
    padding-left: 0.5%;
    margin-left: 4%;
  }

 /* Image design*/
#AstroImage{
    display: inline-block;
    height: 70%;
    width: 100%;
    display: block;
    margin-right: auto;
    border-radius: 15px 15px 0px 0px;
}

#socialImage{
    height: 100%;
    width: 100%; 
}


.MeCard{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 15px; /* 5px rounded corners */
    background-color: #959499;
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 39%;
    Width: 110%;
  }

/* Headers design*/
#AstroHeader,#SocialHeader,#careerHeader,#SummaryHeader{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bolder;
    }
#SummaryHeader{
    color:white;
    }
/* Text design*/
.summary{
    font-family: "Comic Sans MS", "Comic Sans";
    text-align: center;
    font-size: 15px;
    }
