/* Used in the info frame*/
.smallHeaderStyle1,
.largeHeaderStyle1,
.mediumHeaderStyle1,
.david,
#textStyle4,
#textStyle5,
#textStyle7,
#textStyle8,
#name {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-display: bold;
    color: #2C2F33;
    
}

.smallHeaderStyle1 {
    font-size: 20px;
    text-align: center;

}

.largeHeaderStyle1 {
    font-size: 40px;
}

.mediumHeaderStyle1 {
    font-size: 27px;
    margin-top: 1%;
    font-weight: 500;
}


.david {
    color: #b35437;
    width: 100%;
}

#textStyle4 {
    font-size: 20px;
    text-align: left;
    color: white;
    border-radius: 20px;
    padding: 0px 0px 0px 12px;
    background-color: #23272A;

}

#textStyle5,#textStyle8 {
    font-size: 40px;
    text-align: left;
    color: #23272A;
    margin-top: 10px
}

#textStyle6,
#textStyle7 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-display: bold;
    font-size: 20px;
    text-align: left;
    color: #23272A;
    margin-top: 10px;
    font-weight: 500;

}
#textStyle7,#textStyle8 {
    color: #F5F5DC;
}















#test {
    margin-top: -0px;
}

#test2 {
    font-size: 20px;
    text-align: center;
}

#test3 {
    font-size: 35px;

}




#david {
    color: #ebd153;
    color: #2C2F33;
}

.blue {
    color: #72a5ca;
}

#blog {
    text-align: left;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-display: bold;
    color: #23272A;
    word-wrap: break-word;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-display: bold;
    color: #23272A;
    margin-top: -10px;
}

.h1 {
    font-size: 35px;
    margin-top: 10px;
}

.h2 {
    font-size: 30px;
}

.h3 {
    font-size: 25px;
}

.h4 {
    font-size: 20px;
}


/* Used in the info frame #5f99ff*/