/* Used in the info frame*/
.smallHeaderStyle1,
.largeHeaderStyle1,
.mediumHeaderStyle1,
.david,
#name {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-display: bold;
    color: #2C2F33;

}

.smallHeaderStyle1 {
    font-size: 20px;
    text-align: center;

}

.largeHeaderStyle1 {
    font-size: 40px;
}

.mediumHeaderStyle1 {
    font-size: 25px;
    margin-top: 1%;
    font-weight: 500;
}

.david {
    color: #225375;
}


.blue {
    color: #F5F5DC;
}